<h1>Editing Book</h1>

<%= form_for(@book) do |f|%>
  <% if flash[:notice] %>
  <div class="flash">
  	<%= flash[:notice] %>
  </div>
  <% end %>
  
  </div>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>body</h4>
  <%= f.text_area :body %>

  <p><%= f.submit 'Update Book'%></p>

  <p>
  <%= link_to "Show", book_path(@book.id) %>
  <%= link_to "Back", books_path %>
  </p>

<% end %>
